* {
  margin: auto;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #f86d72;
}
.header-container {
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1400px;               */
  margin: 10px auto;
  padding: 0 0;
  font-size: 16px;
  color: rgb(67, 62, 62);
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.navbar {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.navbar-container {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

li {
  list-style: none;
}

.nav-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 30px;
}

.nav-icon {
  font-size: 20px;
}

.nav-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 18px;
}

.hero-section {
  background-image: url(banner-image-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.hero-section-matrial {
  display: flex;
}

.hero-section-content {
  font-size: 20px;
  font-weight: 400;
  margin-left: 15rem !important;
}
.hero-section-content h2 {
  max-width: 650px;
  font-weight: 400;
  font-size: 3.6rem;
}

.hero-section-content p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(60, 56, 56);
  margin-bottom: 16px;
}

button {
  border: 2px solid black;
  border-radius: 500px;
  padding: 12px 4.5rem;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.hero-section-img {
  padding-right: 25rem;
  margin-top: 5rem;
}

.company-services {
  background-color: #f9f9f9;
  padding: 60px 0;
}

.companny-container {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 0 30px;
}

.company-services-content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  /* gap: 10px; */
}
.company-services-content div:nth-child(1) {
  padding-bottom: 40px;
  padding-right: 10px;
  font-size: 25px;
  color: var(--primary-color);
}
.company-services-content div:nth-child(2) h2 {
  font-size: 24px;
  font-weight: 400;
  color: black;
}
.company-services-content div:nth-child(2) p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(52, 52, 57);
}
