* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
:root {
  --primary-color: #f86d72;
}

.container {
  max-width: 1540px;
  margin: 0 auto;
}

.topbar-container {
  width: 100%;
  background-color: #f8f8f8;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 16px;
  color: rgb(67, 62, 62);
  max-width: 1650px;
}
.header-content p {
  font-weight: 300;
  font-size: 16px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px !important;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}

li {
  list-style: none;
}

.nav-item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 40px;
}

.nav-icon {
  font-size: 20px;
}

.nav-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 18px;
}

.hero-section {
  background-image: url(banner-image-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-matrial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-content {
  font-size: 20px;
  font-weight: 400;
}
.hero-section-content h2 {
  max-width: 650px;
  font-weight: 400;
  font-size: 3.6rem;
}

.hero-section-content p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(60, 56, 56);
  margin-bottom: 16px;
}

button {
  border: 2px solid transparent;
  border-radius: 500px;
  padding: 12px 4.5rem;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.companny-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}

.company-services-content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  /* gap: 10px; */
}
.company-services-content div:nth-child(1) {
  padding-bottom: 40px;
  padding-right: 10px;
  font-size: 25px;
  color: var(--primary-color);
}
.company-services-content div:nth-child(2) h2 {
  font-size: 24px;
  font-weight: 400;
  color: black;
}
.company-services-content div:nth-child(2) p {
  font-size: 18px;
  font-weight: 400;
  color: rgb(52, 52, 57);
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title-section h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.title-section button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 2.5rem;
  cursor: pointer;
  margin: 0;
}

.title-section button:hover {
  background-color: #000000;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.card {
  border: 1px solid #e3e3e3;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.card div:nth-child(1) {
  width: 250px;
  height: auto;
}
.card img {
  width: 100%;
  height: auto;
}

.card div:nth-child(2) a h2 {
  font-size: 20px;
  font-weight: 600;
}

.card div:nth-child(2) a h5 {
  font-size: 20px;
  font-weight: 600;
}

.card div:nth-child(2) p {
  color: rgb(84, 80, 80);
}
.card div:nth-child(2) {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.limited-offer {
  background-image: url(banner-image-bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.offer-content h2 {
  font-size: 50px;
  font-weight: 600;
  width: 600px;
}

.offer-content button {
  margin-top: 29px;
  padding: 1rem 2.5rem;
}
