* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header-container {
  width: 100%;
  background-color: #f8f8f8; 
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;            
  /* max-width: 1400px;               */
  margin: 10px auto;
  padding: 0 0;
  font-size: 16px;
  color: rgb(67, 62, 62);
}

a{
    color: black;
}
a:hover{
    color:rgb(255, 89, 0);
    transition: color 0.3s ease-in-out; 
}



         