* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
:root {
  --primary-color: #f86d72;
}

.container {
  width: 1540px !important;
  max-width: 100%;
  margin: 0 auto;
}

.topbar-container {
  width: 100%;
  background-color: #f8f8f8;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 16px;
  color: rgb(67, 62, 62);
  max-width: 1650px;
}
.header-content p {
  font-weight: 300;
  font-size: 16px;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  transition: color 0.3s ease-in-out;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px !important;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
}

li {
  list-style: none;
}

.nav-item .main-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 28px;
}

.nav-item ul li a {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0px 6px;
  letter-spacing: 1px;
}

.pages-dropdown {
  position: relative;
}
.dropdown_menu {
  position: absolute;
  top: 34px;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: none;
  z-index: 1000;
}
.active {
  color: var(--primary-color);
}
.pages-menu li {
  padding: 5px 12px;
  white-space: nowrap;
  cursor: pointer;
  width: 190px;
  color: #676363;
}
.pages-menu li:hover {
  background-color: #f5f5f5;
}

.pages-menu li span {
  display: inline-block;
  background-color: var(--primary-color);
  color: white;
  font-size: 12px;
  padding: 0px 2px;
  border-radius: 4px;
}

/* .pages-dropdown #pages-text:hover + .dropdown_menu,
.dropdown_menu:hover {
  display: block;
} */

.nav-icon {
  font-size: 20px;
}

.nav-icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 18px;
}

.wishlist-dropdown {
  position: relative;
}

.wishlist-menu {
  position: absolute;
  flex-direction: column;
  top: 107px;
  right: 19.3rem;
  /* left: 0; */
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  padding: 10px;
  display: none;
  z-index: 1000;
  gap: 10px;
  width: 320px;
}

.wishlist-header h4 {
  color: var(--primary-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  font-weight: 600;
  margin-top: 5px;
}

.wishlist-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 15px;
}

.wishlist-body div > span {
  display: flex;
  justify-content: space-between;
}

.wishlist-body div {
  border: 1px solid #e3e3e3;
  padding: 10px;
}

.wishlist-body div a {
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
}

.wishlist-body div span {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 350;
}
.wishlist-body p {
  font-size: 14px;
  font-weight: 300;
}
.wishlist-body a {
  font-size: 16px;
  font-weight: 500;
}

.btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 15px 0 0 0;
}
.btn .btn-1,
.btn .btn-2 {
  width: 100%;
}

.wishlist-body label {
  font-size: 16px;
  font-weight: 400;
}

.cart-dorpdown {
  position: relative;
}

.cart-menu {
  position: absolute;
  top: 107px;
  right: 20.3rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  z-index: 1000;
  width: 350px;
}

.cart-header h4 {
  color: var(--primary-color);
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  font-weight: 600;
  margin-top: 5px;
}

.cart-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 15px;
}

.hero-section {
  background-image: url(images/banner-image-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section-matrial {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-section-content {
  font-size: 20px;
  font-weight: 400;
}
.hero-section-content h2 {
  max-width: 650px;
  font-weight: 400;
  font-size: 3.6rem;
}

.hero-section-content p {
  font-size: 20px;
  font-weight: 400;
  color: rgb(60, 56, 56);
  margin-bottom: 16px;
}

button {
  border: 2px solid transparent;
  border-radius: 500px;
  padding: 12px 4.5rem;
  background-color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

button:hover {
  background-color: black;
  transition: background-color 0.3s ease-in-out;
}

.companny-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 100px 0;
}

.company-services-content {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  /* gap: 10px; */
}
.company-services-content div:nth-child(1) {
  padding-bottom: 40px;
  padding-right: 10px;
  font-size: 25px;
  color: var(--primary-color);
}
.company-services-content div:nth-child(2) h2 {
  font-size: 22px;
  font-weight: 600;
  color: black;
}
.company-services-content div:nth-child(2) p {
  font-size: 18px;
  font-weight: 285;
  letter-spacing: 0.01rem;
  color: #272727;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.title-section h2 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
}

.title-section button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 12px 2.5rem;
  cursor: pointer;
  margin: 0;
}

.title-section button:hover {
  background-color: #000000;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  border: 1px solid #e3e3e3;
  padding: 2rem 1.5rem;
  border-radius: 10px;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}
.card div:nth-child(1) {
  width: 250px;
  height: auto;
}
.card img {
  width: 100%;
  height: auto;
}

.card div:nth-child(2) a h2 {
  font-size: 20px;
  font-weight: 600;
}

.card div:nth-child(2) a h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-color);
}

.card div:nth-child(2) p {
  color: rgb(84, 80, 80);
}
.card div:nth-child(2) {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.limited-offer {
  background-image: url(images/banner-image-bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}

.offer-content h2 {
  font-size: 50px;
  font-weight: 600;
  width: 600px;
}

.offer-content button {
  margin-top: 29px;
  padding: 1rem 2.5rem;
}

.item-list {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 8rem;
  margin-bottom: 7rem;
}

.featured-card {
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  padding: 30px 20px 0 20px;
  width: 350px;
  font-family: "Poppins", sans-serif;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
}

.featured-card h2 {
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.featured-item {
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
  padding: 10px 0;
}

.featured-item img {
  max-width: 80px;
  max-height: 90px;
}
span {
  display: flex;
  align-items: center;
  gap: 10px;
}

span s {
  color: #777;
}

.featured-info h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px;
}

.featured-info p {
  color: #777;
  font-size: 18px;
  margin-bottom: 3px;
}

.featured-info h4 {
  color: #f86d72;
  font-weight: 700;
  font-size: 20px;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 10px 0;
}

.category {
  margin-bottom: 4rem;
}

.category-title h2 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 25px;
}

.category-cards {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.category-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 480px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.category-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.category-label {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 10px;
}

.customer-review {
  background-image: url(images/banner-image-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.review-title h2 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.review-card {
  background: white;
  border-radius: 10px;
  max-width: 1000px;
  padding: 60px;
  text-align: left;
  margin: 0 auto;
}
.review-card p {
  font-size: 17px;
  font-weight: 280;
  color: #272727;
  letter-spacing: 1px;
}

.review-card h3 {
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 400 !important;
  margin-top: 5px;
  font-weight: 600;
}

.latest-post {
  margin-bottom: 4rem;
}

.post-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.post-section a button {
  padding: 0.75rem 2.625rem;
}

.post-section h2 {
  font-size: 2.1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.post-card {
  max-width: 530px;
  max-height: 420px;
  background: #fff;
}
.post-card div:nth-child(1) {
  height: auto;
  border-radius: 8px;
  overflow: hidden;
}

.post-card div:nth-child(1) img {
  width: 100%;
  height: 100%;
  display: block;
}
.post-card div:nth-child(2) h5 {
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color);
  text-transform: capitalize;
  margin: 4px 0;
}

.post-card div:nth-child(2) a h6 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.post-card div:nth-child(2) p {
  color: #272727;
  font-size: 19px;
  font-weight: 280;
  letter-spacing: 0.5px;
}

.post-card div:nth-child(2) p a {
  color: #898181;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: 250;
  margin-left: 2px;
}

.card-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.insta-text {
  margin-bottom: 2rem;
}

.insta-text h3 {
  font-size: 2.1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: capitalize;
}

.insta-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 20px 0;
}

.post-insta-card {
  max-width: 233px;
  max-height: auto;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
}

.post-insta-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  background: #fff;
  color: #444;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

/* .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
} */

.footer-details {
  display: grid;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 40px;
  grid-template-columns: repeat(4, 350px);
}

.footer-about p {
  color: #555;
  letter-spacing: 0.01rem;
  font-size: 18px;
}

.social-icon a i {
  font-size: 18px;
  color: #d2d2d2;
  margin-right: 10px;
  cursor: pointer;
  padding: 40px 0;
}

.footer-item h6 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #000000;
  margin-bottom: 1rem;
}

.footer-item a li {
  font-size: 14px;
  padding: 4px 0;
  color: #272727;
}

.footer-contact h6 {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.footer-contact p {
  font-size: 18px;
  /* letter-spacing: 1px; */
  margin-bottom: 10px;
  color: #555;
}

.footer-contact a {
  color: #555;
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #eee;
  padding: 20px 0;
  display: flex;
  font-size: 13px;
  color: #777;
}

.footer-bottom-img {
  height: 20px;
  margin: 0 5px;
  vertical-align: middle;
}

.bot-footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bot-footer-items p {
  font-size: 18px;
  font-weight: 300;
  color: #272727;
}
p.footer-text {
  font-size: 18px;
  font-weight: 300;
  color: #272727;
}
